body{
    font-family: 'Poppins', sans-serif;
}

.titulos{
    font-size: 50px;
    margin-top: 20px;
}

/* Header */
header{
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0)), url(../img/inicio.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: top;
}

header h1{
    font-size: 100px;
}

header p {
    font-size: 20px;
    margin-top: 40px;
}

/* Acerca de Mi */
.titulos{
    margin-bottom: 30px;
}

/* Habilidades */


/* Estudios */


/* Footer */
.contenedor-footer{
    background-color: black;
    padding: 30px;
}

.bi{
    color: white;
}

.bi:hover{
    color: brown;
    transform: scale(1.40);
}