*{
    margin: 0;
    padding: 0;
}

.titulo {
    margin-top: 10px;
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body{
    background-color:lemonchiffon;
}


.introduccion {
    margin-top: 25px;
    margin-left: 10px;
}

.introduccion p{
    font-family: Arial, Helvetica, sans-serif;

}

.titulo-indice{
    text-align: center;
}

.indice{
    margin-top: 25px;
    font-size: 22px;
    border: 1px solid #373a3c;
    display: table;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 43%;
}

.links {
    list-style: none;
}

.links a{
    color: darkviolet;
    text-decoration: none;
    font-size: 18px;
}

.secciones {
    margin-top: 30px;
    
}




